
body{
    background-color: white;
    background-image: none;
}
.topnav {
    background-color: white;
    color: black;
    overflow: hidden;
}

.menu {
    float: left;
    overflow: hidden;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 18px 26px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menuElement {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 14px 16px;
}

.linkElement {
    float: right;
    font-size: 16px;
    color: black;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}


.home {
    float: left;
    font-size: 16px;
    color: black;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}



.menu:hover .menu-content {
    display: block;
}

.menu-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.menu-content a:hover {
    background-color: #dddd;
}

.mag-right{
    float: left;
    width: 45%;
    padding: 0 100px;
}

.mag-left{
    float: left;
    width: 45%;
    margin-left: 20px;
}

.contact-image{
    float: left;
    width: 60%;
    height: 60%;
    margin-left: 20px;
}

.contact-details{
    float: left;
}
.categoriesId{
    color: white;
}
li{
    list-style-type: none;
}
.categories{
    margin: 5px;
    float: left;
    width: 306px;
    margin-left: 20px;
    margin-top: 50px;

}
/*.categoriesImage:hover{*/
/*    border: 2px solid #000000;*/
/*}*/
.categoriesName{
    margin-left: 120px;
}
.buttonsCat{
    padding: 15px;
    text-align: center;
}
.addCategories{
    text-align: center;
    padding: 15px;
}




