.backgroundFirstPage {
    background-repeat: no-repeat;
    position: relative;
}
body{
    background-color: white;
    background-image: none;
    font-family: "Century Gothic";
}
.topnav {
    background-color: black;
    color: white;
    overflow: hidden;
}

.menu {
    float: left;
    overflow: hidden;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 18px 26px 0px rgba(184, 184, 184, 0.2);
    z-index: 1;
}

.menuElement {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 14px 16px;
}

.linkElement {
    float: right;
    font-size: 16px;
    color: white;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}


.home {
    float: left;
    font-size: 16px;
    color: white;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}



.menu:hover .menu-content {
    display: block;
}

.menu-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.menu-content a:hover {
    background-color: #dddd;
}

.mag-right{
    float: left;
    width: 45%;
    padding: 0 100px;
}

.mag-left{
    float: left;
    width: 45%;
    margin-left: 20px;
}

.contact-image{
    float: left;
    width: 60%;
    height: 60%;
    margin-left: 20px;
}

.contact-details{
    float: left;
}
.categoriesId{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
li{
    list-style-type: none;
}
.categories{
    float: left;
    width: 306px;
    margin: 50px 5px 5px 20px;
}
.categoriesImage:hover{
    opacity: 0.3;
}
.categoriesName{
    margin-left: 120px;
    font-weight: bold;
}
.buttonsCat{
    padding: 15px;
    text-align: center;
}
.addCategories{
    text-align: center;
    padding: 15px;
}
.h2CategoriesName{
    text-align: center;
}
.products{
    margin: 50px 5px 5px 20px;
}
.productsName{
    margin-left: 50px;
    float: left;
    font-weight: bold;
}
.buttonsProd{
    padding: 15px;
    text-align: center;
}
.addProducts{
    text-align: center;
    padding: 15px;
}
.productsId{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.productsRight{
    width: 1200px;
    /*border: 3px solid #808080;*/
    padding: 10px;
    position: relative;
    height: 470px;
    left: 600px;
}
.productsImage{
    float: left;
}
.productsDetailsRight{
    left: 50px;
}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
   border-radius:0.12em;
   box-sizing: border-box;
    text-decoration:none;
   font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #000000;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color: #ffffff;
    background-color: #000000;
}
@media all and (max-width:30em){
   a.button1{
        display:block;
        margin:0.4em auto;
        }
}
.livrare-retur{
    margin: 50px 5px 5px 20px;
    line-height: 1.42857143;
}
.productsCategoriesId{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
footer{
    background: black;
    color: white;
    margin-top: 30px;
    /*text-transform: uppercase;*/
}
.footer_inner{
    padding: 20px 0;
    border: none;
    max-width: 1600px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 400px;
}
.footer_content.top-align{
    vertical-align: top;
    align-self: flex-start;
}
.footer_content{
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
    flex-basis: 30%;
    width: 30%;
    flex-direction: row;
    display: flex;
}
.footer-logo{
    display: block;
    border: 0;
    height: auto;
    margin-left: 50px;
    text-align: left;
}
.footer_content ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_content li {
    margin: 0 0 15px;
    display: block;
}
.footer_content li a {
    display: block;
    color: white;
    border-bottom: 0;
    text-decoration: none;
}
.footer_content.flex-column{
    flex-direction: column;
    margin-left: 550px;
}
.footer_content.bottom-align{
    vertical-align: bottom;
    align-self: flex-end;
}
.payment_methods{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 15px 70px;
}
.fa.fa-home{
    color: white;
}




