<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PORC | Porc-a-Porter</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="/orders">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>

<ul>
    <li th:each="categories : ${categoriesList}">
        <div class="categories">
            <div class="categoriesId">
                <a th:text="${categories.getCategoriesId()}" ></a>
            </div>
            <div class="categoriesName">
                <a th:text="${categories.getName()}" ></a>
            </div>
            <div class="categoriesImage">
                <img th:src="${categories.getImage()}" width="300px">
            </div>

            <div class="buttonsCat">
                <a th:href="@{'/view-products/' + ${categories.getCategoriesId()}}" class="button1"> View <a/>
                    <a th:href="@{'/categories/delete/' + ${categories.getCategoriesId()}}" class="button1"> Delete <a/>
                        <a th:href="@{'/categories/edit/' + ${categories.getCategoriesId()}}" class="button1"> Edit <a/>

            </div>
    </li>
</ul>
<div class="addCategories">
    <a href="categories/add" class="button1"> Add Categories</a>
</div>
</body>
</html>