<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PORC | Porc-a-Porter</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>

<ul>
    <li th:each="categories : ${categoriesList}">
        <a th:text="${categories.getCategoriesId()}"></a>
        <a th:text="${categories.getName()}"></a>
        <a th:text="${categories.getDescription()}"></a>

        <a th:href="@{'/view-products/' + ${categories.getCategoriesId()}}" > View <a/>
            <a th:href="@{'/categories/delete/' + ${categories.getCategoriesId()}}" > Delete <a/>
                <a th:href="@{'/categories/edit/' + ${categories.getCategoriesId()}}" > Edit <a/>

    </li>
</ul>
<a href="categories/add" > Add Categories</a>

</body>
</html>