<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In magazine</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="/orders">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>
<div class="contact-image">
<img src="https://porc.netcdn.ro/media/wysiwyg/contact.jpg" height="1000px" width="1400px" >
</div>
<div class="contact-details>">
    <p>
    <strong>PORC A PORTER SRL</strong>
    <br><br>
    <span>Sediul social: bd. Unirii nr. 19, sect. 4, Bucuresti, 040103, jud. București</span>
    <br><br>
    <span>CUI: RO33825764 Nr. Reg. Comertului: J40/13569/2014</span>
    <br><br><br>
    <span>
        <strong>PORC A PORTER SRL</strong>
         este inscrisa la A.N.S.P.D.C.P in registrul de evidenta a prelucrarilor de date cu caracter personal sub numarul 36646.
    </span>
    <br><br>
    <span>Ne poti contacta si direct pe <a href="mailto:contact@porcporc.com" class="button1">contact@porcporc.com</a></span>
    <br><br>
    Telefon: 0732935923 – program: L-V: 09:00 - 17:00
    </p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="footer-container">
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>
</body>
</html>