<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In magazine</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>

<div class="contact-image">
<img src="https://porc.netcdn.ro/media/wysiwyg/contact.jpg" alt="">
</div>
<div class="contact-details>">
    <p>
    <strong>PORC A PORTER SRL</strong>
    <br>
    <span>Sediul social: bd. Unirii nr. 19, sect. 4, Bucuresti, 040103, jud. București</span>
    <br>
    <span>CUI: RO33825764 Nr. Reg. Comertului: J40/13569/2014</span>
    <br>
    <span>
        <strong>PORC A PORTER SRL</strong>
         este inscrisa la A.N.S.P.D.C.P in registrul de evidenta a prelucrarilor de date cu caracter personal sub numarul 36646.
    </span>
    <br>
    <span>Ne poti contacta si direct pe contact@porcporc.com</span>
    <br>
    Telefon: 0732935923 – program: L-V: 09:00 - 17:00
    </p>
</div>


</body>
</html>