<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In magazine</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/register">Contul meu</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="#">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>
<div class="contact-image">
<img src="https://porc.netcdn.ro/media/wysiwyg/contact.jpg" height="1000px" width="1400px" >
</div>
<div class="contact-details>">
    <p>
    <strong>PORC A PORTER SRL</strong>
    <br><br>
    <span>Sediul social: bd. Unirii nr. 19, sect. 4, Bucuresti, 040103, jud. București</span>
    <br><br>
    <span>CUI: RO33825764 Nr. Reg. Comertului: J40/13569/2014</span>
    <br><br><br>
    <span>
        <strong>PORC A PORTER SRL</strong>
         este inscrisa la A.N.S.P.D.C.P in registrul de evidenta a prelucrarilor de date cu caracter personal sub numarul 36646.
    </span>
    <br><br>
    <span>Ne poti contacta si direct pe contact@porcporc.com</span>
    <br><br>
    Telefon: 0732935923 – program: L-V: 09:00 - 17:00
    </p>
</div>


</body>
</html>