<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cum-Comand</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement"><i class="fas fa-bars"></i></button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/"><i class="fas fa-home"></i></a>
    <a class="linkElement" href="/search"><i class="fas fa-search"></i></a>
    <a class="linkElement" href="/orders"><i class="fas fa-shopping-cart"></i></a>
    <a class="linkElement" href="/my-account"><i class="fas fa-user-circle"></i></a>

</div>
<div class="column main">
    <br><br><br><br>
    <h1>Cum comand?</h1>
    <ul>
        <li>Accesand www.porcporc.com si folosind meniul din sidebar stanga, puteti naviga printre categoriile de produse si, de acolo, pe pagina individuala a fiecarui produs, veti vedea informatii detaliate (mai multe poze, culori, marimile si stocul disponibil – actualizate in timp real).</li>
        <li>Dupa ce va decideti asupra unui produs dorit, de pe pagina respectivului produs il puteti adauga in cos (cantitatea standard este de un produs) si sa apasati pe butonul “Adauga in cos”.</li>
        <li>Dupa ce ati ales toate produsele si doriti sa plasati comanda, mergeti in “Cosul de Cumparaturi” – sectiune pe care o accesati din dreapta sus, dand click pe butonul corespunzator.</li>
        <li>De acolo veti putea revedea si actualiza lista produselor adaugate in cos, precum si cantitatea pe care ati selectat-o.</li>
        <li>Tot din Cosul de Cumparaturi veti decide si metoda prin care doriti sa fie livrate produsele. Urmatorul pas, dupa ce apasati pe “Proceed to Checkout”, va fi cel legat de completarea detaliilor pentru facturare si livrare.</li>
        <li>Dupa aceea apasati pe “Confirma comanda” pentru a revizui comanda, produsele dorite, cantitatea lor, subtotalul, metoda de plata si plata finala.</li>
        <li>“Place order” va va trimite la ultima confirmare pe care va trebui s-o faceti pentru a plasa comanda.</li>
    </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="footer-container">
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>
</body>
</html>