<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cum-Comand</title>
</head>
<body>
<div class="column main">
    <h1>Cum comand?</h1>
    <ul>
        <li>Accesand www.porcporc.com si folosind meniul din sidebar stanga, puteti naviga printre categoriile de produse si, de acolo, pe pagina individuala a fiecarui produs, veti vedea informatii detaliate (mai multe poze, culori, marimile si stocul disponibil – actualizate in timp real).</li>
        <li>Dupa ce va decideti asupra unui produs dorit, de pe pagina respectivului produs il puteti adauga in cos (cantitatea standard este de un produs) si sa apasati pe butonul “Adauga in cos”.</li>
        <li>Dupa ce ati ales toate produsele si doriti sa plasati comanda, mergeti in “Cosul de Cumparaturi” – sectiune pe care o accesati din dreapta sus, dand click pe butonul corespunzator.</li>
        <li>De acolo veti putea revedea si actualiza lista produselor adaugate in cos, precum si cantitatea pe care ati selectat-o.</li>
        <li>Tot din Cosul de Cumparaturi veti decide si metoda prin care doriti sa fie livrate produsele. Urmatorul pas, dupa ce apasati pe “Proceed to Checkout”, va fi cel legat de completarea detaliilor pentru facturare si livrare.</li>
        <li>Dupa aceea apasati pe “Confirma comanda” pentru a revizui comanda, produsele dorite, cantitatea lor, subtotalul, metoda de plata si plata finala.</li>
        <li>“Place order” va va trimite la ultima confirmare pe care va trebui s-o faceti pentru a plasa comanda.</li>
    </ul>
</div>
</body>
</html>