<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Despre</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement"><i class="fas fa-bars"></i></button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/"><i class="fas fa-home"></i></a>
    <a class="linkElement" href="/search"><i class="fas fa-search"></i></a>
    <a class="linkElement" href="/orders"><i class="fas fa-shopping-cart"></i></a>
    <a class="linkElement" href="/my-account"><i class="fas fa-user-circle"></i></a>

</div>
<div class="column main">
    <div style="display: flex; flex-direction: row;">
        <div style="padding: 20px;
    align-items: flex-start;
    align-self: center;
    width: 60%;">
            <p style="font-size: 2rem; line-height: 3rem;">Sunt baiat de oras. Sunt nascut si crescut in Bucuresti.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Cand eram mic, bateam mingea in spatele blocului. Am crescut. Acum bat strazile-n lung si-n lat ca sa-mi scriu numele pe toti peretii.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Sunt tot timpul pe fuga. Uneori ma alearga garda. De cele mai multe ori, alerg eu dupa fete.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Asta e ritmul orasului. M-am adaptat. Sunt tot timpul cu castile pe urechi.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Se spune ca hip-hop-ul are acelasi ritm ca bataile inimii.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Inima mea bate pentru muzica. Sunt tot timpul in cautare de placi vechi.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Fac beat-uri si scriu versuri. Multi dintre prietenii mei sunt skateri, se dau cu placa toata ziua.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Am incercat si eu… era sa-mi sparg fata! Aproape mi-am spart aparatul foto.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt cu el dupa mine tot timpul. Sunt la metrou ore in sir. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Astept vagoanele bombardate ieri. Ma prefac intotdeauna ca nu stiu cine deseneaza si incerc sa par mirat cand trag pozele. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Orasul e al nostru si o sa-l coloram cum ne place!</p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt multi care-mi spun ca am o problema cu autoritatea. Ii contrazic. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt doar pregatit sa lupt impotriva conformismului si banalitatii, dar ei nu vad asta.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Ei judeca dupa aparente. Pentru ei sunt doar altfel. Sunt PORC!</p>
        </div>
        <div style="width: 40%;
    padding: 20px;
    align-items: center;
    align-self: flex-start;">
            <img style="width: 100%;height: auto;" src="https://porc.netcdn.ro/media/wysiwyg/porc-its-on.jpg" alt="PORC" width="626" height="900">
        </div>
    </div>
</div>
<footer class="footer-container">
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>
</body>
</html>