<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Despre</title>
</head>
<body>

<div class="column main">
    <div style="display: flex; flex-direction: row;">
        <div style="padding: 20px;
    align-items: flex-start;
    align-self: center;
    width: 60%;">
            <p style="font-size: 2rem; line-height: 3rem;">Sunt baiat de oras. Sunt nascut si crescut in Bucuresti.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Cand eram mic, bateam mingea in spatele blocului. Am crescut. Acum bat strazile-n lung si-n lat ca sa-mi scriu numele pe toti peretii.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Sunt tot timpul pe fuga. Uneori ma alearga garda. De cele mai multe ori, alerg eu dupa fete.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Asta e ritmul orasului. M-am adaptat. Sunt tot timpul cu castile pe urechi.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Se spune ca hip-hop-ul are acelasi ritm ca bataile inimii.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Inima mea bate pentru muzica. Sunt tot timpul in cautare de placi vechi.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Fac beat-uri si scriu versuri. Multi dintre prietenii mei sunt skateri, se dau cu placa toata ziua.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Am incercat si eu… era sa-mi sparg fata! Aproape mi-am spart aparatul foto.</p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt cu el dupa mine tot timpul. Sunt la metrou ore in sir. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Astept vagoanele bombardate ieri. Ma prefac intotdeauna ca nu stiu cine deseneaza si incerc sa par mirat cand trag pozele. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Orasul e al nostru si o sa-l coloram cum ne place!</p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt multi care-mi spun ca am o problema cu autoritatea. Ii contrazic. </p>
            <p style="font-size: 2rem; line-height: 3rem;">Sunt doar pregatit sa lupt impotriva conformismului si banalitatii, dar ei nu vad asta.</p>
            <p style="font-size: 2rem; line-height: 3rem;"> Ei judeca dupa aparente. Pentru ei sunt doar altfel. Sunt PORC!</p>
        </div>
        <div style="width: 40%;
    padding: 20px;
    align-items: center;
    align-self: flex-start;">
            <img style="width: 100%;height: auto;" src="https://porc.netcdn.ro/media/wysiwyg/porc-its-on.jpg" alt="PORC" width="626" height="900">
        </div>
    </div>
</div>

</body>
</html>