<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In magazine</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>

<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/register">Contul meu</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="#">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>

<h2>BUCURESTI</h2>
<hr>
<div class="mag-left">
    <img src="https://porc.netcdn.ro/media/wysiwyg/The-Urbanist.jpg" width="700">
</div>
<div class="mag-right">
    <h3>The Urbanist</h3>
    <h4><strong>Adresa:</strong></h4>
    <p>Strada Caldarari nr.3, Bucuresti</p>
    <h4><strong>Telefon:</strong></h4>
    <p>0741.392.558</p>
    <h4><strong>Program:</strong></h4>
    <p>Luni - Duminica: 11:00 - 21:00</p>
    <br>
    <p>
        <a href="https://www.facebook.com/www.TheUrbanist.ro" target="_blank">Facebook The Urbanist</a>
         |
        <a href="https://goo.gl/maps/njouQMxuzL62" target="_blank">Vezi in Google Maps</a>
    </p>
    <br>
    <br>
</div>
    <br>
    <br>
<h2>BRASOV</h2>
<hr>
<div class="mag-left">
    <img src="https://porc.netcdn.ro/media/wysiwyg/U-Man-Brasov.jpg" width="700">
</div>
<div class="mag-right">
    <h3>U Man Brasov</h3>
    <h4><strong>Adresa:</strong></h4>
    <p>Strada Muresenilor nr. 3, Brasov</p>
    <h4><strong>Telefon:</strong></h4>
    <p>0368.730.225</p>
    <h4><strong>Program:</strong></h4>
    <p>Luni – Sambata: 11:00 – 21:00</p>
    <p>Duminica: 10:00 – 18:00</p>
    <br>
    <br>
</div>
<br>
<br>
<h2>CLUJ</h2>
<hr>
<div class="mag-left">
    <img src="https://porc.netcdn.ro/media/wysiwyg/U-Man-Cluj.jpg" width="700">
</div>
<div class="mag-right">
    <h3>U Man Cluj</h3>
    <h4><strong>Adresa:</strong></h4>
    <p>Iulius Mall Cluj, etaj 1</p>
    <p>Str. Al Vaida Voievod nr. 53-55, Cluj-Napoca</p>
    <h4><strong>Telefon:</strong></h4>
    <p>0771.605.591</p>
    <h4><strong>Program:</strong></h4>
    <p>Luni – Duminica: 10:00 – 22:00</p>
    <br>
    <br>
</div>
<br>
<br>
<h2>TIMISOARA</h2>
<hr>
<div class="mag-left">
    <img src="https://porc.netcdn.ro/media/wysiwyg/U-Man-Lifestyle-Timisoara.jpg" width="700">
</div>
<div class="mag-right">
    <h3>U Man Lifestyle Timisoara</h3>
    <h4><strong>Adresa:</strong></h4>
    <p>Str. Augustin Pacha nr. 2, Timisoara</p>
    <h4><strong>Telefon:</strong></h4>
    <p>0771.697.783</p>
    <h4><strong>Program:</strong></h4>
    <p>Luni – Duminica: 10:00 – 22:00</p>
    <br>
    <br>
</div>
<br>
<br>


</body>
</html>