<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PORC | Porc-a-Porter</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>

<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement"><i class="fas fa-bars"></i></button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/"><i class="fas fa-home"></i></a>
    <a class="linkElement" href="/search"><i class="fas fa-search"></i></a>
    <a class="linkElement" href="/orders"><i class="fas fa-shopping-cart"></i></a>
    <a class="linkElement" href="/my-account"><i class="fas fa-user-circle"></i></a>

</div>
<div class="backgroundFirstPage">
    <img src="https://porc.netcdn.ro/media/mageing/slider/slideritem/l/a/landing_11122020.jpg" height="1250px" width="2550px" >
</div>
</body>
</html>