<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PORC | Porc-a-Porter</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/register">Contul meu</a>
            <a href="/in-magazine">In magazine</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="#">My Cart</a>
    <a class="linkElement" href="#">My Account</a>

</div>


</body>
</html>