<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livrare/Retur</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="/orders">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>

<div class="livrare-retur">

    <h1>LIVRARE</h1>
    <h2>1. Conditii de livrare / primire a coletului:</h2>
    <ul>
        <li>Daca nu ai introdus <strong>corect si complet</strong> informatiile pentru livrare si contact in momentul cand ai plasat comanda (numarul de telefon, numarul strazii, etajul, apartamentul, interfonul, codul postal etc), sunt sanse sa nu ajunga la tine si sa se intoarca la noi in depozit. Iti recomandam sa verifici de mai multe ori inainte sa plasezi o comanda (sau sa-ti faci cont la noi).</li>
        <li>Cand curierul ajunge la tine cu produsele, poti sa deschizi coletul cu o singura conditie: sa semnezi ca l-ai primit si sa-l platesti <strong>inainte</strong>.</li>
        <li>Daca ajunge curierul cu un colet cu care pare ca s-a jucat fotbal si e vizibil deteriorat, iti recomandam sa-l refuzi si sa ne contactezi imediat (<em>da-ne un mail la <a href="mailto:comenzi@porcporc.com" class="button1">comenzi@porcporc.com</a> si-o rezolvam rapid</em>).</li>
    </ul>
    <p>&nbsp;</p>
    <h2>2. Cum livram in Romania, prin DPD - timp aproximativ: 1-2 zile lucratoare:</h2>
    <p>&nbsp;</p>
    <ul>
        <li>Daca dai comanda intr-o zi lucratoare, adica de luni pana vineri<em><span style="font-weight: 400;">,</span></em> <strong>pana la ora 15:00</strong><span style="font-weight: 400;">, noi o procesam si dam stafeta curierului, cu produsele tale, in aceeasi zi. Toate comenzile date </span><strong>dupa 15:00</strong><span style="font-weight: 400;"> sunt predate curierului a doua zi lucratoare.</span></li>
        <li><span style="font-weight: 400;">In orice colt al tarii te afli, </span><strong>livrarea te costa 15 lei</strong><span style="font-weight: 400;">. Daca ai adunat destui bani in pusculita si faci o comanda mai mare de 299 lei, facem noi cinste cu transportul.</span></li>
        <li><span style="font-weight: 400;">In momentul cand comanda isi ia zborul din depozitul nostru, primesti automat prin mail (pe adresa pe care ai plasat comanda) un tracking link unde poti urmari livrarea, sa poti fii cu ochii pe colet pana ajunge la usa ta.</span></li>
        <li><span style="font-weight: 400;">In dimineata livrarii, vei primi un SMS cu intervalul orar in care se va livra coletul, numarul de telefon al curierului si un link unde poti vedea detalii sau poti modifica informatiile.</span></li>
        <li>Daca nu te gaseste la acea adresa si in intervalul de timp mentionat, primesti un alt SMS cu un numar de telefon la care poti suna pentru a stabili o noua livrare. Daca nici a treia oara nu este cu noroc, coletul se intoarce la noi.</li>
        <li>Daca totusi doresti coletul respectiv, poti sa repeti comanda, doar ca vei plati in avans atat costurile transportului anterior (tur-retur) cat si costurile noii livrari.</li>
        <li>Please note ca in spatele acestui site exista oameni care proceseaza, ambaleaza si livreaza comenzile, indiferent daca tu alegi sa le ridici sau nu. Daca te obisnuiesti sa anulezi comenzi deja in procesare sau expediate, exista sanse sa nu iti mai expediem pe viitor.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>3. Cum livram in alte tari, prin DPD - timp aproximativ: 5-7 zile lucratoare</h2>
    <p>&nbsp;</p>
    <ul>
        <li><strong>PORCul zboara in toate tarile din UE</strong>, prin firma de curierat DPD International: Austria, Belgia, Croatia, Danemarca, Estonia, Finlanda, Franta, Germania, Grecia, Italia, Letonia, Lituania, Luxemburg, Olanda, Polonia, Portugalia, Republica Ceha, Slovacia, Slovenia, Spania si Suedia.</li>
        <li><strong>Costul de livrare pentru comenzile internationale, intr-o tara din lista de mai sus, este de 70 de lei (cost fix).</strong></li>
        <li><strong>Comenzile sunt livrate prin DPD International si transportul dureaza aproximativ 7 zile lucratoare.</strong></li>
        <li><strong>Pot fi platite doar in avans, integral, cu cardul, in momentul plasarii comenzii - selectezi la checkout.</strong></li>
        <li><span style="font-weight: 400;">Daca vrei sa comanzi intr-o tara care momentan nu apare la Checkout, da-ne un mail pe adresa </span><a href="mailto:comenzi@porcporc.com" class="button1"><span style="font-weight: 400;">comenzi@porcporc.com</span></a><span style="font-weight: 400;"> si spune-ne ce produse vrei sa comanzi, ce marimi si adresa unde le vrei (cu tot cu codul postal), iar noi vom cere o oferta de livrare de la firmele de curierat.</span></li>
        <li><span style="font-weight: 400;">Atunci cand comanda isi ia zborul din depozitul nostru, primesti automat pe email (pe adresa pe care ai folosit-o cand ai plasat comanda) un tracking link, ca sa urmaresti statusul livrarii. </span></li>
    </ul>
    <p>&nbsp;</p>
    <h1>RETUR / SCHIMB</h1>
    <p>&nbsp;</p>
    <ul>
        <li><span style="font-weight: 400;">Poti schimba sau poti renunta la orice produs pe care l-ai cumparat, in </span><strong>14 zile calendaristice</strong><span style="font-weight: 400;"> (</span><em><span style="font-weight: 400;">numaratoarea incepe din ziua cand ti-au fost livrate</span></em><span style="font-weight: 400;">), fara sa ne dai vreun motiv - desi ne-ar ajuta sa stim ce s-a intamplat.</span></li>
        <li><strong>Ca sa faci returul sau sa ne soliciti un produs la schimb, trebuie doar sa completezi formularul de Retur / Schimb de aici: </strong><a href="mailto:comenzi@porcporc.com" class="button1"><strong>schimb-retur@porcporc.com</strong></a><span style="font-weight: 400;"> si te vom contacta in aproximativ 3 zile lucratoare cu mai multe detalii.</span></li>
        <li><strong>Ne ocupam noi de curier</strong><span style="font-weight: 400;">, nu este nevoie sa-l chemi tu pentru a ridica produsul / produsele.</span></li>
        <li><span style="font-weight: 400;">Fac exceptie de la regula <strong>produsele pe care nu le mai putem lua inapoi din motive de igiena</strong>: n-avem ce sa mai facem cu bermudele de baie, halatul, prosopul, sosetele, boxerii si mastile dupa ce le-ai probat deja.</span></li>
        <li><span style="font-weight: 400;">Daca vrei la schimb un produs mai scump decat cel returnat, trebuie sa achiti diferenta de pret. Daca vrei un produs mai ieftin, diferenta de pret se returneaza sub forma de store credit.&nbsp;</span></li>
        <li><span style="font-weight: 400;">In toate cazurile de returnare sau schimb al produselor, noi suportam costurile de transport. Banii iti vor fi returnati in aproximativ </span><strong>14 zile calendaristice</strong><span style="font-weight: 400;"> dupa ce am procesat returul (dupa ce s-a intors la noi in depozit si l-am verificat).</span></li>
        <li><span style="font-weight: 400;">Pentru livrarile internationale, mai intai trimiti catre noi produsele pe care le vrei schimbate si achiti din nou taxa de transport pentru produsele noi. (</span><em><span style="font-weight: 400;">Tot procesul se face prin completarea </span></em><a href="mailto:comenzi@porcporc.com" class="button1"><em><span style="font-weight: 400;">formularului de retur</span></em></a><em><span style="font-weight: 400;"> / schimb.</span></em><span style="font-weight: 400;">) Verifica de doua ori daca ai scris adresa de livrare corect si complet, pentru ca altfel coletul nu va putea fi livrat, iar costurile de transport nu se returneaza. </span></li>
        <li>Daca abuzezi de optiunile de retur / schimb, este posibil sa te tinem pe tusa.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>GHID DE AMBALARE A PRODUSELOR PENTRU RETUR / SCHIMB:</h2>
    <p>&nbsp;</p>
    <ul>
        <li>Cel mai important este sa nu ne trimiti tu produsul sau produsele pe care vrei sa le returnezi / schimbi (trimitem noi curierul la tine).</li>
        <li>Daca ai solicitat un produs la schimb: cand primesti noul produs, va trebui sa-l predai curierului pe cel primit initial, pentru a ni-l returna noua.</li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>Cum pregatesti produsul pentru transport:</strong></p>
    <p>1.&nbsp;<span style="font-weight: 400;">Te rugam sa</span><strong> ambalezi produsul in ceva rezistent la transport </strong><span style="font-weight: 400;">(o punga, o cutie etc). Nu folosi punga individuala transparenta in care vine de la noi, aceasta nu este considerata un ambalaj corespunzator pentru a-l preda curierului.</span></p>
    <p>2.&nbsp;<span style="font-weight: 400;">Produsele trebuie trimise impreuna cu toate etichetele si accesoriile aferente intacte, asa cum le-am trimis noi. </span><strong>Etichetele sa nu fie rupte sau taiate, produsul sa nu fie purtat, spalat, murdar</strong><span style="font-weight: 400;"> etc. In caz contrar, avem dreptul sa refuzam returul sau sa cerem o taxa pentru a putea aduce produsele la starea de vandabilitate.</span></p>
    <p>P.S. <strong>stickerele raman la tine</strong>.</p>
    <p>&nbsp;</p>
</div>

<footer class="footer-container">
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>




</body>
</html>