<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>

<form method="post" action="/login-submit">

    <input type="text" id ="username" name="username" placeholder="Username">
    <br>
    <br>
    <input type="password" id="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Login" class="button1">

</form>

</body>
</html>