<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My-account</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement"><i class="fas fa-bars"></i></button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/"><i class="fas fa-home"></i></a>
    <a class="linkElement" href="/search"><i class="fas fa-search"></i></a>
    <a class="linkElement" href="/orders"><i class="fas fa-shopping-cart"></i></a>
    <a class="linkElement" href="/my-account"><i class="fas fa-user-circle"></i></a>

</div>
<h3>CLIENT INREGISTRAT</h3>
<hr>
<p>Daca aveti un cont creat, conectati-va cu adresa de email.</p>
<form method="post" action="/login-submit">

    <input type="text" id ="username" name="username" placeholder="Username">
    <br>
    <br>
    <input type="password" id="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Login" class="button1">
</form>
<br>
<h3>CLIENT NOU</h3>
<hr>
<p>Crearea unui cont are multe beneficii: check out rapid, pastrarea mai multor adrese, urmarirea comenzilor si altele.
</p>
<a th:href ="@{'/register'}" class="button1">Cont nou</a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="footer-container" >
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>

</body>
</html>