<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produse</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="/orders">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>
<div class="h2CategoriesName">
    <h2 th:text="${categories.getName()}"></h2>
</div>
<ul>
    <li th:each="prod : ${categories.getProductsList()} ">
        <div class="products">
            <div class="productsId">
                <a th:text="${prod.getProductsId()}"></a>
            </div>
            <div class="productsName">
                <a th:text="${prod.getName()}"></a>
            </div>
            <br>
            <hr>
            <br>

            <div class="productsImage">
                <img th:src="${prod.getImage()}" width="500px">
            </div>
            <div class="productsRight">
                <div class="productsSku">
                    <h4>SKU: </h4>
                    <a th:text="${prod.getSku()}"></a>
                </div>
                <div class="productsPrice">
                    <h4>PRICE: </h4>
                    <a th:text="${prod.getPrice()}"></a>
                </div>
                <div class="productsDescription">
                    <h4>DESCRIPTION: </h4>
                    <a th:text="${prod.getDescription()}"></a>
                </div>
                <br>
                <a href="/livrare-retur" class="button1">Livrare/Retur</a>
                <div class="productsDetailsRight">
                    <div class="productsDate">
                        <h4>ADDINTION DATE: </h4>
                        <a th:text="${prod.getCreateDate()}"></a>
                    </div>
                    <div class="productsStock">
                        <h4>STOCK: </h4>
                        <a th:text="${prod.getStockProduct()}"></a>
                    </div>
                    <div class="productsCategoriesId">
                        <a th:text="${prod.getCategoriesId()}"></a>
                    </div>
                    <div class="productsOrder">
                        <a th:text="${prod.getProductOrder()}"></a>
                    </div>
                </div>
            </div>
            <div class="buttonsProd">
                <a th:href="@{'/add-orders/' + ${prod.getProductsId()}}" class="button1">Buy</a>
                <a th:href="@{'/products/edit/' + ${prod.getProductsId()}}" class="button1">Edit</a>
                <a th:href="@{'/products/delete/' + ${prod.getProductsId()}}" class="button1">Delete</a>
            </div>

    </li>
</ul>
<div class="addProducts">
    <a th:href="@{'/products/add/'+ ${categories.getCategoriesId()}}" class="button1">Add product</a>
</div>

<footer class="footer-container">
    <div class="footer_inner">
        <div class="footer_content top-align">
            <img class="footer-logo" src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/PORC_2012_white.svg">
        </div>
        <div class="footer_content top-align">
            <ul>
                <li>
                    <a href="/despre">Despre</a>
                </li>
                <li>
                    <a href="/in-magazine">In magazine</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porcporc" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer_content top-align"><ul>
            <li><a href="/cum-comand">Cum comand?</a></li>
            <li><a href="/livrare-retur">Livrare &amp; retur</a></li>
            <li><a href="mailto:comenzi@porcporc.com">Formular retur</a></li>
            <li><a href="/termeni-conditii">Termeni si conditii</a></li>
        </ul></div>
        <div class="footer_content bottom-align flex-column">
            <div class="payment_methods">
                <img src="https://porc.netcdn.ro/static/frontend/Mageing/porc/ro_RO/images/visa-maestro-mobilpay.png" alt="Payment method by MobilPay">
            </div>
            <div class="footer_copy">
	<span class="copy_notice">©2020 PORC | PORC A PORTER SRL | <a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a> | <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=RO" target="_blank">SOL</a> | Toate preturile sunt exprimate in LEI si contin TVA. <br>
</span>
            </div>
        </div>
    </div>

</body>
</html>