<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement"><i class="fas fa-bars"></i></button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/"><i class="fas fa-home"></i></a>
    <a class="linkElement" href="/search"><i class="fas fa-search"></i></a>
    <a class="linkElement" href="/orders"><i class="fas fa-shopping-cart"></i></a>
    <a class="linkElement" href="/my-account"><i class="fas fa-user-circle"></i></a>

</div>
<h2 style="text-align: center">Order List</h2>

<form method="post" action="/orders" th:object="${orderList}">
    <div class="order-table">
<table style="width:80% ; line-height: 2cm">
    <tr>
        <th>Nume produs</th>
        <th>Pret</th>
        <th>Cantitate</th>
        <th></th>

    </tr>
    <tr th:each="cat : ${orderList}" style="text-align: center">
        <td th:text="${cat.getProducts().name}"></td>
        <td th:text="${cat.getPrice()}"></td>
        <td th:text="${cat.getQuantity()}"></td>
        <td><a th:href="@{'/orders/delete/'+ ${cat.getProductOrderId()}}"> Delete <a/></td>
    </tr>
    </div>


</table>
</form>
<br><br><br>
<div class="finishOrder" style="margin-left: 1220px">
    <a th:href="@{'/order/'+ ${orderList}}" class="button1"> Buy Now </a>
</div>

</body>
</html>