<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produse</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<h2 th:text="${categories.getName()}"></h2>
<table>
    <tr th:each = "prod : ${categories.getProductsList()} ">
        <td th:text = "${prod.getProductsId()}"></td>
        <td th:text = "${prod.getName()}"></td>
        <td th:text = "${prod.getSku()}"></td>
        <td th:text = "${prod.getPrice()}"></td>
        <td th:text = "${prod.getDescription()}"></td>
        <img th:src="${prod.getImage()}" width="300px">
        <td th:text = "${prod.getCreateDate()}"></td>
        <td th:text = "${prod.getStockProduct()}"></td>
        <td th:text = "${prod.getCategoriesId()}"></td>
        <td th:text = "${prod.getProductOrder()}"></td>
        <td>
            <a th:href="@{'/products/buy/' + ${prod.getProductsId()}}">Buy</a>
            <a th:href ="@{'/products/edit/' + ${prod.getProductsId()}}" >Edit</a>
            <a th:href ="@{'/products/delete/' + ${prod.getProductsId()}}" >Delete</a>
        </td>

    </tr>
</table>
<a th:href ="@{'/products/add/'+ ${categories.getCategoriesId()}}" >Add product</a>
</body>
</html>