<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link type="text/css" rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="menuNav" class="topnav">
    <div class="menu">
        <button class="menuElement">Menu</button>
        <div class="menu-content">
            <a href="/categories">PRODUSE</a>
            <br>
            <a href="/livrare-retur">Livrare/Retur</a>
            <a href="/in-magazine">In magazine</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <a class="home" href="/">Home</a>
    <a class="linkElement" href="#">Search</a>
    <a class="linkElement" href="/orders">My Cart</a>
    <a class="linkElement" href="/my-account">My Account</a>

</div>
<h2>Order List</h2>

<!--<form method="post" action="/orders" th:object="${orderList}">-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Nume produs</th>-->
<!--        <th>Pret</th>-->
<!--        <th>Cantitate</th>-->

<!--    </tr>-->
<!--    <tr th:each="cat : ${orderList}">-->
<!--        <td th:text="${cat.getProducts().name}"></td>-->
<!--        <td th:text="${cat.getPrice()}"></td>-->
<!--        <td th:text="${cat.getQuantity()}"></td>-->

<!--    </tr>-->


</table>

</form>

</body>
</html>