<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form class="search" id="search" action="/search" method="get">
    <input class="searchInput" type="search" name="search" value="" placeholder="" maxlength="128" role="combobox"
           aria-haspopup="false" aria-autocomplete="both" autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false">
    <span class="searchInfo">Apasa ENTER pentru a cauta sau ESC pentru a inchide</span>

</form>

</body>
</html>